@import '../../variables';

.#{$prefix}-loader {
  &__wrap {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-400;
    z-index: 3;

    &__img {
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }
}
