@import "../../../variables";

.#{$prefix}-character-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 30px auto;
  position: relative;

  &__title {
    font-size: 20px;
    color: $color-100;
    margin-top: 30px;
    margin-bottom: 10px;

    &:before {
      content: '//';
      margin-right: 10px;
      color: $color-200;
    }
  }

  &__input,
  &__text-area {
    width: 100%;
    padding: 10px;
    background-color: $color-400;
    color: $color-100;
    border: 1px solid $color-300;
    margin: 5px;
  }

  &__text-area {
    min-height: 300px;
  }

  &__submit {
    background-color: $color-500;
    color: $color-100;
    padding: 10px;
    margin: 10px;
  }
}
