@import '../../variables';

* {
  box-sizing: content-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.#{$prefix} {
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
}
